.centered-flex {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#list_body {
  background: rgb(235, 235, 235);
  top: 8vh;
  height: 60vh;
  width: 45vh;

  outline: 0.3vh solid rgb(49, 49, 49);
}

#list {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

#add_body {
  text-align: center;
  bottom: 8vh;
}

#item_input {
  margin-top: 5vh;
}

.button {
  margin-top: 1vh;
}

#button_bot {
  margin-bottom: 5vh;
}
